In [2]:
import shapely
import shapely.vectorized
import pandas as pd
import geopandas

In [3]:
gdl = geopandas.read_file("data/GDL Shapefiles V5 11-21.shp")
gdl.head()

,gdlcode,continent,iso_code,geometry
0,AFGr101,Asia/Pacific,AFG,"POLYGON ((69.41367 33.91973, 69.40897 33.91796..."
1,AFGr102,Asia/Pacific,AFG,"POLYGON ((65.32353 33.12133, 65.34240 33.17651..."
2,AFGr103,Asia/Pacific,AFG,"POLYGON ((70.46561 33.92853, 70.45656 33.92963..."
3,AFGr104,Asia/Pacific,AFG,"POLYGON ((66.38873 34.93133, 66.36456 34.93081..."
4,AFGr105,Asia/Pacific,AFG,"POLYGON ((67.35538 34.88549, 67.35532 34.88847..."

In [11]:
grid_df = pd.read_csv('../regional-impacts-map/data/2_merged_da_data.csv')
grid_df.head()

,LAT,LON,LAT_25,LON_25,LAT_5,LON_5,knutson_precip,updated_precip,knutson_temp,updated_temp,...,precip_da_cat,temp_da_cat,temp_da_binary,precip_da_binary,n_da_impacts,max_da_cat,study_addition,total_study_prop,area,is_land
0,-88.75,-178.75,-88.75,-178.75,-87.5,-177.5,NaN,NaN,NaN,NaN,...,0.0,0.0,0,0,0,0.0,add,0.0,1685.654015,False
1,-88.75,-176.25,-88.75,-176.25,-87.5,-177.5,NaN,NaN,NaN,NaN,...,0.0,0.0,0,0,0,0.0,add,0.0,1685.654015,False
2,-88.75,-173.75,-88.75,-173.75,-87.5,-172.5,NaN,NaN,NaN,NaN,...,0.0,0.0,0,0,0,0.0,add,0.0,1685.654015,False
3,-88.75,-171.25,-88.75,-171.25,-87.5,-172.5,NaN,NaN,NaN,NaN,...,0.0,0.0,0,0,0,0.0,add,0.0,1685.654015,False
4,-88.75,-168.75,-88.75,-168.75,-87.5,-167.5,NaN,NaN,NaN,NaN,...,0.0,0.0,0,0,0,0.0,add,0.0,1685.654015,False

In [13]:
import numpy as np
degrees = 0.5
da_degrees = 2.5
lons = np.linspace(-180+degrees*.5,180-degrees*.5,int(360/degrees))
lats = np.linspace(-90+degrees*.5,90-degrees*.5,int(180/degrees))
xv, yv = np.meshgrid(lons,lats)

subgrid_df = pd.DataFrame({"lat_05": yv.ravel(),"lon_05": xv.ravel(),})
subgrid_df['LAT'] = subgrid_df['lat_05']//da_degrees*da_degrees+da_degrees*0.5
subgrid_df['LON'] = subgrid_df['lon_05']//da_degrees*da_degrees+da_degrees*0.5
print(subgrid_df.shape)
subgrid_df = subgrid_df.merge(grid_df,how="left")
print(subgrid_df.shape)
subgrid_df

(259200, 4)
(259200, 36)

,lat_05,lon_05,LAT,LON,LAT_25,LON_25,LAT_5,LON_5,knutson_precip,updated_precip,...,precip_da_cat,temp_da_cat,temp_da_binary,precip_da_binary,n_da_impacts,max_da_cat,study_addition,total_study_prop,area,is_land
0,-89.75,-179.75,-88.75,-178.75,-88.75,-178.75,-87.5,-177.5,NaN,NaN,...,0.0,0.0,0,0,0,0.0,add,0.000000,1685.654015,False
1,-89.75,-179.25,-88.75,-178.75,-88.75,-178.75,-87.5,-177.5,NaN,NaN,...,0.0,0.0,0,0,0,0.0,add,0.000000,1685.654015,False
2,-89.75,-178.75,-88.75,-178.75,-88.75,-178.75,-87.5,-177.5,NaN,NaN,...,0.0,0.0,0,0,0,0.0,add,0.000000,1685.654015,False
3,-89.75,-178.25,-88.75,-178.75,-88.75,-178.75,-87.5,-177.5,NaN,NaN,...,0.0,0.0,0,0,0,0.0,add,0.000000,1685.654015,False
4,-89.75,-177.75,-88.75,-178.75,-88.75,-178.75,-87.5,-177.5,NaN,NaN,...,0.0,0.0,0,0,0,0.0,add,0.000000,1685.654015,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259195,89.75,177.75,88.75,178.75,88.75,178.75,87.5,177.5,NaN,NaN,...,0.0,0.0,0,0,0,0.0,add,0.327727,1685.654015,False
259196,89.75,178.25,88.75,178.75,88.75,178.75,87.5,177.5,NaN,NaN,...,0.0,0.0,0,0,0,0.0,add,0.327727,1685.654015,False
259197,89.75,178.75,88.75,178.75,88.75,178.75,87.5,177.5,NaN,NaN,...,0.0,0.0,0,0,0,0.0,add,0.327727,1685.654015,False
259198,89.75,179.25,88.75,178.75,88.75,178.75,87.5,177.5,NaN,NaN,...,0.0,0.0,0,0,0,0.0,add,0.327727,1685.654015,False
259199,89.75,179.75,88.75,178.75,88.75,178.75,87.5,177.5,NaN,NaN,...,0.0,0.0,0,0,0,0.0,add,0.327727,1685.654015,False

In [34]:
for i, row in merged.iterrows():
    if row['name_unacc']=="South Australia":
        contains = shapely.vectorized.contains(row.geometry,xv,yv).ravel()
        idx = np.argwhere(contains==True).ravel()
        subgrid_df[row['name_unacc']] = 0
        subgrid_df.loc[idx,row['name_unacc']]=1
        break
    
subgrid_df.to_csv('data/subgrid.csv',index=False)

<ipython-input-34-d05292d7375c>:3: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  contains = shapely.vectorized.contains(row.geometry,xv,yv).ravel()

In [ ]:
x = [1,2,3]
y = [1,2,3]